.box-container-200 {
    background: rgb(80, 122, 236);
    width: 200px;
    height: 50px;
    
    
}
.box-container-500 {
    background: rgb(80, 122, 236);;
    width: 500px;
    height: 50px;
}
.box-container-900 {
    background: rgb(80, 122, 236);;
    width: 900px;
    height: 50px;
}
.box-container-20 {
    background: rgb(252, 128, 46);
    width: 20%;
    height: 50px;
}
.box-container-50 {
    background: rgb(252, 128, 46);
    width: 50%;
    height: 50px;
}
.box-container-90 {
    background: rgb(252, 128, 46);
    width: 90%;
    height: 50px;
}