.block {
    background: red;
    display: block;
    height: 60px;

}

.inline p {
    background: olivedrab;
    display: inline;
}

.inline-block div {
    background: rgb(255, 153, 0);
    display: inline-block;
    height: 70px;
    width: 70px;
}