.box    {
    background:  red;
    height: 100px;
    width: 400px;


}

.box p  {
    font-size: 20px;


}

.box-relative-container {
    background: green;
    width: 80%; /* relative to the screen */
    /* height: 100px; */
}

.box-relative {
    background: pink;
    width: 50%; /* relative to div it's inside in */
    /* height: 100px; */
}

/* .box-relative p {
    width: 400px;
} better not to put width*/

.em-container {
    font-size: 2em; /* be 2x of your context, which is 1em or 16px */
}

.em-container-2 {
    font-size: 1em; 
}