.main, .secondary, .third {
    float: left;

}

.main {
    width: 50%;
    margin-right: 20px;
}

.secondary {
    width: calc(40% - 20px);
    margin-right: 20px;
}

.third {
    width: calc(10% - 20px);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}