
  *, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 25px;
}

.page-container {
    width: 450px;
    margin: 0px auto 80px;
}

.page-title {
    width: 450px;
    margin: 80px auto 0px;
}

body {
    background: #fff;
}

.main-content {
    background: #eee;
    height: 170px;
    padding: 20px;

    h1 {
        font-weight: bold;
    }

    p {
        font-size: 8px;
    }
}
  