
.main, .secondary, .third, .fourth {
    float: left;

}

.main {
    width: 40%;
    margin-right: 20px;
}

.secondary {
    width: calc(20% - 20px);
    margin-right: 20px;
}

.third {
    width: calc(20% - 20px);
    margin-right: 20px;
}

.fourth {
    width: calc(20% - 20px);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* Medium */
@media screen and (max-width: 900px) and (min-width: 600px) {
    .main, .third {
        width: calc(50% - 20px);
        margin-right:20px;     

        }
    .secondary, .fourth {
        width: calc(50% - 20px);
        margin-right: 20px;        
    }
    

}

/* Small */

@media screen and (max-width: 600px) {
    .main,
    .secondary,
    .third,
    .fourth {
        width: 100%
        
    }

}