
.main, .secondary, .third, .fourth {
    float: left;

}

.main {
    width: 40%;
    margin-right: 20px;
}

.secondary {
    width: calc(20% - 20px);
    margin-right: 20px;
}

.third {
    width: calc(20% - 20px);
    margin-right: 20px;
}

.fourth {
    width: calc(20% - 20px);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}