.hero {
    text-align: center;
    font-weight: bold;
    @include heroGradient(hsla(0, 0%, 100%, 0.502),hsla(0, 0%, 100%, 0.902), '../img/hero.jpg');
    
    @include heroStructure (no-repeat, cover, 160px,40px,15px, #ddd, 50% 50%);
    

    .hero-title {
        text-align: center;
        @include heroGradient(hsla(0, 0%, 100%, 0.502),hsla(0, 0%, 100%, 0.902),'../img/hero.jpg');
        @include heroStructure (no-repeat, cover, 120px,40px,15px, #ddd, 50% 50%);
    }

    h1 {
        font-weight: bold;
    }
}
